<button *ngIf="!addNeed" (click)="openAddNeed(true);" mat-raised-button
    style="justify-content: end; background-color: #85bea6; color: white;">Add
    Need</button>
<button *ngIf="addNeed" (click)="closeAddNeed();" mat-raised-button
    style="justify-content: end; background-color: #85bea6; color: white;">Close</button><br><br>
<div *ngIf="addNeed">
    <anms-plant-need-add [plantId]="plant.id" [plantNeed]="plantNeed"></anms-plant-need-add>
</div>
<table *ngIf="plant.plantNeeds" mat-table [dataSource]="plant.plantNeeds" class="mat-elevation-z8">
    <ng-container matColumnDef="needId">
        <th mat-header-cell *matHeaderCellDef>Needs</th>
        <td mat-cell *matCellDef="let element">{{element.needName}}</td>
    </ng-container>

    <ng-container matColumnDef="monthFrom">
        <th mat-header-cell *matHeaderCellDef>From</th>
        <td mat-cell *matCellDef="let element">{{months[element.monthFrom]}}</td>
    </ng-container>

    <ng-container matColumnDef="monthTo">
        <th mat-header-cell *matHeaderCellDef>To</th>
        <td mat-cell *matCellDef="let element">{{months[element.monthTo]}}</td>
    </ng-container>

    <ng-container matColumnDef="frequency">
        <th mat-header-cell *matHeaderCellDef>Frequency</th>
        <td mat-cell *matCellDef="let element">{{element.frequency}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">{{types[element.frequencyTypeId]}}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{element.quantity}} ml</td>
    </ng-container>

    <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" (click)="setNeed(element)">
                <mat-icon>more_vert</mat-icon>
            </button>
        </td>
    </ng-container>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openAddNeed(false);">Edit Need</button>
        <button mat-menu-item (click)="deleteNeed()">Delete Need</button>
    </mat-menu>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br><br>