<div class="main">
    <form [formGroup]="AddForm" class="form">
        <mat-card-header>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <mat-card-title><input type="text" matInput formControlName="name" placeholder="Name"></mat-card-title>
            </mat-form-field>
            <mat-form-field style="margin-left: 20px;">
                <mat-label>Room</mat-label>
                <mat-card-title><mat-select style="height: 5px;" formControlName="roomId" name="roomId">
                    <mat-option *ngFor="let room of rooms$ | async" [value]="room.id">{{room.roomName}}</mat-option>
                </mat-select>
                </mat-card-title>
            </mat-form-field>
        </mat-card-header>
        <flora-upload-image *ngIf="isAddMode" (convertedImage)="parentEventHandlerFunction($event)"></flora-upload-image>
        <img *ngIf="!isAddMode" class="centered" mat-card-image src="{{plant?.photoUrl}}"><br>
        <mat-card-content>
            <mat-form-field style="width: 100%;">
                <mat-label>Description</mat-label>
                <input type="text" matInput formControlName="description" placeholder="Description">
            </mat-form-field>
        </mat-card-content>
        <div *ngIf="!isAddMode">
            Plant Needs
            <flora-plant-need [plant]="plant" (onSave)="reloadPlants()"></flora-plant-need><br><br>
        </div>
        <div class="form-element">
            <button (click)="save()" mat-raised-button type="submit" class="button"
                [disabled]="!(AddForm.valid && AddForm.dirty)">Save</button>
            <button class="delete" *ngIf="!isAddMode" (click)="deletePlant();" mat-raised-button>Delete Plant</button>
        </div>
    </form>
</div>