.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

button {
  background-color: #85bea6;
}

img.centered {
  border: 2px solid #f5f6f8;
  border-radius: 30px;
  display: block;
}
