<div style="margin:1em; max-width: auto; background-color: #f5f6f8">
    <form [formGroup]="AddForm" class="example-form">
        <mat-card-header>
            <!-- <img *ngIf="!isAddMode" mat-card-avatar src="{{plant?.photoUrl}}"> -->
            <img *ngIf="isAddMode" mat-card-avatar
                src="https://thumbs.dreamstime.com/b/black-silhouette-potted-plant-white-background-element-poster-animation-etc-203963346.jpg">
            <mat-form-field style="padding-right: 2;">
                <mat-label>Name</mat-label>
                <mat-card-title><input type="text" matInput formControlName="name" placeholder="Name"></mat-card-title>
            </mat-form-field> <br>
            <mat-form-field style="margin-left: 20px;">
                <mat-label>Room Number</mat-label>
                <mat-card-title><input type="text" matInput formControlName="roomId" placeholder="Room Number">
                </mat-card-title>
            </mat-form-field>
        </mat-card-header>
        <img *ngIf="isAddMode" mat-card-image
            src="https://thumbs.dreamstime.com/b/black-silhouette-potted-plant-white-background-element-poster-animation-etc-203963346.jpg">
        <img class="centered" mat-card-image src="{{plant?.photoUrl}}">
        <mat-card-content>
            <mat-form-field style="width: 100%;">
                <mat-label>Description</mat-label>
                <input type="text" matInput formControlName="description" placeholder="Description">
            </mat-form-field>
        </mat-card-content>
        <div *ngIf="!isAddMode">
            Plant Needs
            <anms-plant-need [plant]="plant"></anms-plant-need><br><br>
        </div>
        <div class="form-element">
            <button (click)="save()" mat-raised-button type="submit" class="button"
                [disabled]="!(AddForm.valid && AddForm.dirty)">Save</button>
            <button style="background-color: #817d7a!important;" *ngIf="!isAddMode" (click)="deletePlant();"
                mat-raised-button>Delete Plant</button>
        </div>
    </form>
</div>