.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

button {
  background-color: #85bea6;
  color: white;
}

img.centered {
  border: 2px solid #f5f6f8;
  border-radius: 30px;
  display: block;
  width: 500px;
  height: 500px;

}

.main{
  margin:1em; 
  max-width: auto; 
  background-color: #f5f6f8
}

.delete{
  background-color: #817d7a!important; 
  color: white;
}
