<div class="container mt-5">
    <div class="row">
        <div class="col align-self-center">
            <mat-nav-list>
                <mat-list-item mat-list-item>
                    <span matLine class="green">
                        <h3>Plants</h3>
                    </span>
                    <button routerLink="/plants/add" mat-raised-button color="primary">Add Plant</button>
                </mat-list-item>
                <mat-list-item *ngFor="let plant of plants | async">
                        <div mat-line>
                            {{ plant.name }}
                        </div>
                        <p mat-line>
                            {{ plant.description }} , {{plant.roomId}}
                        </p>
                        <mat-divider></mat-divider>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>
</div>