<div class="container mt-5" style="height: auto">
    <div class="row">
        <div class="col">
            <span matLine class="green">
                <h3>Plants</h3>
            </span>
        </div>
        <div class="col-auto">
            <button (click)="deletePlant(); sidenav.toggle();" mat-raised-button color="primary">Add Plant</button>
        </div>
    </div>
    <mat-drawer-container style="height: auto;">
        <mat-nav-list>
            <anms-plant-item (click)="onSelectedPlant(plant); sidenav.toggle();"  *ngFor="let plant of plants | async" [plant]="plant">
            </anms-plant-item>
        </mat-nav-list>
        <mat-drawer style="width: 50%;" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
            (closed)="events.push('close!');" position="end">
            <anms-plant-details></anms-plant-details>
        </mat-drawer>
    </mat-drawer-container>
</div>