<div class="container mt-5" style="height: auto">
    <div class="row">
        <div class="col">
            <span matLine class="green">
                <h3>Plants</h3>
            </span>
        </div>
        <div class="col-auto">
            <button (click)="unselectPlant(); sidenav.toggle();" mat-raised-button>Add Plant</button>
        </div>
    </div>
    <mat-drawer-container>
        <mat-nav-list>
            <flora-plant-item (click)="onSelectedPlant(plant); sidenav.toggle();"  *ngFor="let plant of plants$ | async" [plant]="plant">
            </flora-plant-item>
        </mat-nav-list>
        <mat-drawer #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
            (closed)="events.push('close!');" position="end">
            <flora-plant-details (onSave)="reloadPlants(); sidenav.toggle();"></flora-plant-details>
        </mat-drawer>
    </mat-drawer-container>
</div>