<div class="content-pane-container">
    <mat-card>
        <mat-card-title>
            <h2 class="title">Reset Password</h2>
        </mat-card-title>
        <hr>
        <mat-card-content class="p-3">
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div style="text-align: center;">
                    <mat-form-field appearance="outline" style="min-width: 370px">
                        <mat-label translate>Password</mat-label>
                        <input matInput type="Password" formControlName="newPassword" required>
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <mat-error *ngIf="f.newPassword.errors.required">Password is required</mat-error>
                            <mat-error *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters
                            </mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div style="text-align: center;">
                    <mat-form-field appearance="outline" style="min-width: 370px">
                        <mat-label translate>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" required>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <mat-error *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                            </mat-error>
                            <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-error>
                        </div>
                    </mat-form-field>
                </div>
                <div class="form-group mt-3" style="text-align: center;">
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="!resetForm.untouched && resetForm.invalid">Reset Password</button>
                </div>
            </form>
            <a href="http://localhost:4200/#/account">Back to Login</a>
        </mat-card-content>
    </mat-card>
</div>