<div class="bg">
<div class="center">
    <mat-card>
        <mat-card-title>Reset Password</mat-card-title>
        <mat-card-content>
            <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                <div class="form-group mt-4">
                    <input type="password" formControlName="newPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" placeholder="Password"/>
                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">Password is required</div>
                        <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <input type="password" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirm Password"/>
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <button mat-raised-button color="primary" type="submit">Reset Password</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
</div>