<div class="center">
    <mat-card>
        <mat-card-title style="text-align: center; color: green;">Resset Password</mat-card-title>
        <mat-card-content>
            <form #logInForm="ngForm" (ngSubmit)="resetPassword()">
                <div class="form-group mt-4" style="text-align: center;">
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.NewPassword"
                        placeholder="Password">
                </div>
                <div class="form-group mt-4" style="text-align: center;">
                    <input type="password" class="form-control" name="password" [(ngModel)]="model.confirmPassword"
                        placeholder="Confirm Password">
                </div>
                <div class="form-group mt-4" style="text-align: center;">
                    <button mat-raised-button color="primary" type="submit">Change password</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>