<button mat-mini-fab [ngStyle]="{'background-color':'#879a8f'}" (click)="actionDone(need)">

<ng-container *ngIf="done">
    <mat-icon   [ngStyle]="{'color':'#f3f3f3'}">done</mat-icon>
</ng-container>
<ng-container *ngIf="!done">
    <ng-container [ngSwitch]="this.need.needName">
        <ng-container *ngSwitchCase="'Watering'">
            <mat-icon  style="font-family: 'Material Icons Outlined'" [ngStyle]="{'color':'#f3f3f3'}">water_drop_outlined</mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="'Prooning'">
            <mat-icon  style="font-family: 'Material Icons Outlined'" [ngStyle]="{'color':'#f3f3f3'}">content_cut_outlined</mat-icon>
          </ng-container>
    </ng-container>
</ng-container>

</button>

