<mat-card class="dashboard-card mt-5">
    <div class="row">
        <div class="col-auto">
            <img mat-card-image class="centered" src="{{plant.photoUrl}}">
        </div>
        <div class="col" style="padding: 0;">
            <mat-card-title class="text" style="color: black;display: flex;">{{plant.description}}
            </mat-card-title>
            <mat-card-subtitle class="text" style="color: black;display: flex;"> {{ plant.name }} | Room: {{plant.roomName}}
            </mat-card-subtitle>
            <div class="row">
                <div *ngFor="let need of plant.plantNeeds" class="col-auto">
                    <anms-need-item *ngIf="need.shouldDisplay" [need]="need"></anms-need-item>
                </div>
            </div>
            <div class="row" style="padding-top: 10px; padding-left: 10px;">
                <div *ngFor="let need of plant.plantNeeds">
                    <div *ngIf="need.lastActionDoneBy">
                        {{need.needName}} was last done on {{need.lastActionDone | date:'MMM d, y' }} by {{need.lastActionDoneBy | titlecase}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>