.example-card {
    max-width: 360px;
    max-height: 160px;
    // background-color: #b1c0ba;
    background-color: #f5f6f8;
  }

  .center{
    margin: auto;
    width: 600px;
  }

  table {
    width: 100%;
  }

  img.centered {
    border: 2px solid #f3f3f3;
    border-radius: 30px;
    display: block;
    margin: auto auto;
 }

 img {
  width: 130px;
  height: 130px;
}



button {
  background-color: #85bea6;
  color: white;
}

.text {
  color: #f3f3f3;
}