mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

div.center {
  display: block;
  margin: auto auto auto auto;
}

div.invalid-feedback {
  color: red !important;
}

div.bg {
  height: 100%;
  width: 100%;
  position: relative;
  /* The image used */
  background-color: #f5f6f8;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
button {
  background-color: #85bea6;
  color: white;
}
