mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}


div.invalid-feedback {
  color: red !important;
}

div.center {
  position: absolute;
  height: 100%;
  width: 100%;
}

div.bg {
  height: 90%;
  width: 100%;
  position: relative;
  /* The image used */
  background-color: #e7e0da;
  /* Center and scale the image nicely */
}

button {
  background-color: #85bea6;
  color: white;
}

mat-card{
  background-color: #f5f6f8;
}
