mat-button-toggle {
  background-color: #85bea6;
  color: #f3f3f3;
}

.mat-button-toggle-group-appearance-standard
  .mat-button-toggle
  + .mat-button-toggle {
  border-left: solid 1px white;
}

.center {
  margin: auto;
  width: 600px;
}

table {
  width: 100%;
}

img.centered {
  border: 2px solid rgb(157, 202, 157);
  border-radius: 30px;
  display: block;
  margin: auto auto;
}

img {
  width: 200px;
  height: 200px;
}

.example-box {
  background-color: rgb(231, 230, 230);
}

button {
  background-color: #85bea6;
  color: white;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
