<div style="margin: 10px;">
    <mat-form-field appearance="fill">
        <mat-label>Types</mat-label>
        <mat-select [(value)]="selectedType" style="height: 5px;" name="need">
            <mat-option *ngFor="let type of types$ | async" [value]="type.id">{{type.type}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button (click)="apply();">Apply</button>
    <div class="center">
        <mat-card class="example-card" *ngFor="let plant of plants$ | async" style="margin-top: 20px;">
            <div class="row">
                <div class="col-12 col-md-7">
                    <mat-card-title>{{ plant.name }}</mat-card-title>
                    <mat-card-subtitle>Room: {{plant.roomId}}</mat-card-subtitle>
                    <mat-chip-list class="mat-chip-list-stacked">
                        <mat-chip (click)="actionDone(plant,need)" class="example-box" style="width: auto;" cdkDrag
                            *ngFor="let need of plant.plantNeeds">
                            {{need.needName}} <label *ngIf="need.needId == 1">({{need.quantity}} ml)</label>
                            <mat-icon [ngStyle]="{'color':'green'}">check_circle_outline</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
                <div class="col-12 col-md-5">
                    <button style="float: right;" mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Add custom action</button>
                    </mat-menu>
                    <img mat-card-image class="centered" src="{{plant?.photoUrl}}">
                </div>
            </div>
        </mat-card>
    </div>
</div>