.example-card {
    max-width: 600px;
  }

  .center{
    margin: auto;
    width: 600px;
  }

  table {
    width: 100%;
  }

  img.centered {
    border: 2px solid rgb(157, 202, 157);
    border-radius: 30px;
    display: block;
    margin: auto auto;
 }

 img {
  width: 200px;
  height: 200px;
}

.example-box{
  background-color: rgb(231, 230, 230);
}