<div style="margin: 20px;" class="container justify-content-md-center">
        <mat-button-toggle-group [(value)]="selectedType" name="need">
            <mat-button-toggle (click)="apply();" *ngFor="let type of types$ | async" [value]="type.id"
                style="width: 80px;">{{type.type}}
            </mat-button-toggle>
        </mat-button-toggle-group>
        <hr>
    <div *ngFor="let plant of plants$ | async" style="margin-top: 20px;">
        <anms-dashboard-item [plant]="plant"></anms-dashboard-item>
    </div>
</div>

