<div [class]="'theme-wrapper ' + (theme$ | async)">
  <mat-sidenav-container #sidenav mode="push">
    <div class="wrapper">
      <div class="toolbar">
        <mat-toolbar color="primary">
          <img [src]="logo" [alt]="logo" width="50" height="50" />
          <span class="ml-3" style="color: white;">Plant Tracker</span>
          <mat-list>
            <mat-list-item>
              <a mat-list-item routerLink="/users" *ngIf="accountService.currentUser$ | async"
                style="color: white;">Users</a>
              <a mat-list-item routerLink="/plants" *ngIf="accountService.currentUser$ | async"
                style="color: white;">Plants</a>
              <button *ngIf="accountService.currentUser$ | async" mat-icon-button (click)="logout()">Log out</button>
            </mat-list-item>
          </mat-list>
        </mat-toolbar>
      </div>
      <div class="content">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>
  </mat-sidenav-container>
</div>