<mat-sidenav-container>
  <mat-sidenav-content >
    <mat-toolbar style="color: white; background-color: #b1c0ba">
      <img src="./../../assets/logoFlora2.png" style="width: 50px; height: 50px;">
      <span class="ml-3" style="font-size: 25px;">Flora</span>
      <span class="toolbar-spacer"></span>
      <mat-list>
        <mat-list-item>
          <a style="color: #85bea6" mat-list-item routerLink="/home" *ngIf="accountService.currentUser$ | async" routerLinkActive="active">Home</a>
          <a style="color: #85bea6" mat-list-item routerLink="/users" *ngIf="accountService.currentUser$ | async" routerLinkActive="active">Users</a>
          <a style="color: #85bea6" mat-list-item routerLink="/plants" *ngIf="accountService.currentUser$ | async" routerLinkActive="active">Plants</a>
          <button *ngIf="accountService.currentUser$ | async" mat-icon-button #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu">
            <mat-icon style="color: white;">menu</mat-icon>
         </button>
        </mat-list-item>
        <mat-menu #menu="matMenu">
          <button *ngIf="accountService.currentUser$ | async" routerLink="users/{{(accountService.currentUser$ | async).id}}" mat-menu-item>View profile</button>
          <button *ngIf="accountService.currentUser$ | async" (click)="logout()" mat-menu-item>Log out</button>
        </mat-menu>
      </mat-list>
    </mat-toolbar>
    <router-outlet style="background-color: #f5f6f8"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>