<form [formGroup]="AddForm">
    <mat-form-field appearance="fill">
        <mat-label>Needs</mat-label>
        <mat-select style="height: 5px;" formControlName="needId" name="need">
            <mat-option *ngFor="let need of needs$ | async" [value]="need.id">{{need.name}}</mat-option>
        </mat-select>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <mat-select style="height: 5px;" formControlName="monthFromId" name="monthFrom">
            <mat-option *ngFor="let month of months$ | async" [value]="month.id">{{month.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Until</mat-label>
        <mat-select style="height: 5px;" formControlName="monthToId" name="monthTo">
            <mat-option *ngFor="let month of months$ | async" [value]="month.id">{{month.name}}</mat-option>
        </mat-select>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input formControlName="quantity" matInput #input maxlength="10" placeholder="Quantity">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Frequency</mat-label>
        <input formControlName="frequency" matInput #input maxlength="10" placeholder="Frequency">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select style="height: 5px;" formControlName="frequencyTypeId" name="type">
            <mat-option *ngFor="let type of types$ | async" [value]="type.id">{{type.type}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="form-element">
        <button (click)="onSaveTypeClicked()" mat-raised-button type="submit" class="button"
            [disabled]="!(AddForm.valid && AddForm.dirty)">Save</button>
    </div>
</form>