<div class="center">
    <mat-card class="example-card">
        <div class="row" *ngIf="user$ | async">
            <div class="col-12 col-md-2">
                <ngx-avatar size="60" bgColor="#85bea6" name="{{user.userName}}"></ngx-avatar>
            </div>
            <div class="col-12 col-md-10" style="padding-left: 50px;">
                <div>
                    {{user.userName}}
                </div>
                <div *ngIf="user.email">
                    {{user.email}}
                </div>
                <div *ngIf="!user.email">
                    No email address
                </div><br>
                <div>
                    Phone number:<br>
                    070 336 842
                </div>
            </div>
        </div>
    </mat-card>
</div>