<div class="bg">
  <div class="content-pane-container">
        <mat-card>
            <mat-card-title>
                <h2 class="title">Forgot password?</h2>
              </mat-card-title>
              <hr>
              <p class="text-muted" style="text-align: center;">Enter your e-mail</p>
            <mat-card-content class="p-5">
                <form  [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div style="text-align: center;">
                        <mat-form-field appearance="outline" style="min-width: 370px">
                          <mat-label translate>Email</mat-label>
                          <input matInput type="email" formControlName="email" required>
                          <mat-error *ngIf="form.get('email').invalid">Invalid email address</mat-error>
                        </mat-form-field>
                      </div>
                    <div class="form-group mt-4" style="text-align: center;">
                        <button mat-raised-button color="primary" type="submit" [disabled]="!form.untouched && form.invalid">Send Email</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
