div.center {
  position: absolute;
  height: 100%;
  width: 100%;
}

div.bg {
  height: 90%;
  width: 100%;
  position: relative;
  /* The image used */
  background-color: #e7e0da;
  /* Center and scale the image nicely */
}

button {
  background-color: #85bea6;
  color: white;
}

mat-card-title{
  text-align: center;
  color: #85bea6;
}

.back{
  background-color: #817d7a !important; 
  margin-right: 10px;
}

mat-card {
  max-width: 300px;
  margin: 2em auto;
  margin-top: 10%;
  text-align: center;
}