span.green {
  color: #4a934a;
}

div.container {
  position: relative;
  top: 5%;
  background-color: white;
  outline-style: round($number: 0.5);
}

button {
  background-color: #85bea6;
  color: white;
}
