
<div class="container mt-5 main">
    <mat-drawer-container style="height: auto;">
    <mat-nav-list>
        <mat-list-item mat-list-item>
            <span matLine class="green">
                <h3>Users</h3>
            </span>
            <button (click)="sidenav.toggle();" mat-raised-button>Add User</button>
        </mat-list-item>
        <flora-users-item *ngFor="let user of users$ | async" [user]="user"></flora-users-item>
    </mat-nav-list>
    <mat-drawer #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!');" position="end">
        <div>
        <flora-register></flora-register>
        </div>
    </mat-drawer>
</mat-drawer-container>
</div>